<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/adduser}" th:object="${user}">
    <label for="username">Введите имя: </label>
    <input type="text" th:field="*{name}" id="username"/>
    <br/>
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.name}"
                       th:value="${role.id}"
                       th:field="*{roles}"
                />
            </label>
        </p>
    <input type="submit" value="Add">
</form>
<a th:href="@{/logout}">Выход</a>

</body>
</html>