<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title>Управление пользователями</title>
    <style>
        table {
            border: 1px solid lightgrey;
            border-collapse: collapse;
            width: 100%;
            border-radius: 200px;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .sidebar {
            height: 100vh;
            overflow-y: auto;
        }

        .main-content {
            height: 100vh;
            margin-top: 0;
            padding-top: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand">Пользователь: <span id="usernameauth"></span> | Роли: <span id="roles"></span></span>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/admin/adminpage}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user}">User</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main-content">
            <div class="container">
                <div style="margin-top: 1px;">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="allUsers-tab" data-toggle="tab" href="#allUsers"
                               role="tab"
                               aria-controls="allUsers" aria-selected="true">Все пользователи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="addUser-tab" data-toggle="tab" href="#addUser" role="tab"
                               aria-controls="addUser"
                               aria-selected="false">Добавить пользователя</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="allUsers" role="tabpanel"
                             aria-labelledby="allUsers-tab">
                            <div class="row border">
                                <h5 class="m-2">All users</h5>
                            </div>
                            <div class="row border">
                                <table class="table table-borderless m-2">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Last Name</th>
                                        <th>Roles</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableUsers">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="addUser" role="tabpanel" aria-labelledby="addUser-tab">
                            <div class="container">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Добавить пользователя</h5>
                                        <form id="addUserForm">
                                            <div class="form-group">
                                                <label for="username">Введите имя:</label>
                                                <input type="text" class="form-control" id="username" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName">Введите фамилию:</label>
                                                <input type="text" class="form-control" id="lastName" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Введите пароль:</label>
                                                <input type="password" class="form-control" id="password" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="newRoles">Role</label>
                                                <select multiple class="form-control" id="newRoles" name="roles">

                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary" onclick="addUser()">Добавить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменение пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:method="POST" th:action="@{/admin/edit}">
                    <label for="idEdit">ID: </label>
                    <input class="form-control" type="text" readonly id="idEdit">
                    <label for="usernameEdit">Name: </label>
                    <input class="form-control" type="text" id="usernameEdit"
                           name="username">
                    <label for="lastNameEdit">Lastname: </label>
                    <input class="form-control" type="text" id="lastNameEdit"
                           name="lastName">
                    <label for="passwordEdit">Password: </label>
                    <input class="form-control" type="password"
                           id="passwordEdit">
                    <br/>
                    <div class="form-group">
                        <label for="EditRoles">Role:</label>
                        <select multiple class="form-control" id="EditRoles" name="editRoles">

                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitForm()">Save changes
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>

    function getCurrentUser() {
        fetch("/admin/currentuser")
            .then(response => response.json())
            .then(data => {
                document.querySelector("#usernameauth").innerText = data.username;
                document.querySelector("#roles").innerText = data.roles.join(", ");
            })
            .catch(error => console.error("Ошибка при получении информации о текущем аутентифицированном пользователе:", error));
    }

    getCurrentUser();

    function getAllUser() {
        fetch("/admin/allUserInfo")
            .then(response => response.json())
            .then(data => {
                const tableBody = document.querySelector("#tableUsers");

                data.forEach(user => {
                    const row = `
                    <tr>
                        <td>${user.id}</td>
                        <td>${user.username}</td>
                        <td>${user.lastName}</td>
                        <td>${user.roles.map(role => role.name).join(", ")}</td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteUser('${user.username}')">Удалить</button>
                        </td>

                        <td>
                            <button class="btn btn-primary" onclick="openModal('${user.id}')">Изменить</button>
                        </td>
                    </tr>

            `;
                    tableBody.insertAdjacentHTML("beforeend", row);
                });
            })
            .catch(error => console.error("Ошибка загрузки пользователей:", error));
    }

    function getAllRoles() {
        fetch("/admin/allroles")
            .then(response => response.json())
            .then(roles => {
                const newRoles = document.querySelector("#newRoles");
                const rolesEdit = document.querySelector("#EditRoles");
                roles.forEach(role => {
                    const option = document.createElement("option");
                    option.value = role.name;
                    option.textContent = role.name;
                    option.setAttribute('data-role-id', role.id); // Установка атрибута data-role-id
                    newRoles.appendChild(option.cloneNode(true));
                    rolesEdit.appendChild(option);
                });
            })
            .catch(error => console.error("Ошибка загрузки ролей:", error));
    }

    getAllRoles();

    getAllUser();

    function deleteUser(username) {
        fetch(`/admin/delete?userName=${username}`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(data => {
                console.log("Пользователь удален:", data);

                const rowToRemove = document.querySelector(`tr[data-username="${username}"]`);
                if (rowToRemove) {
                    rowToRemove.remove();
                }
            })
            .catch(error => {
                console.error("Не удалось удалить пользователя:", error);
            });
    }


    function getUserById(userId) {
        fetch(`/admin/userById?userId=${userId}`)
            .then(response => response.json())
            .then(user => {
                const modal = $('#EditModal');
                modal.find('#idEdit').val(user.id);
                modal.find('#usernameEdit').val(user.username);
                modal.find('#lastNameEdit').val(user.lastName);
                modal.find('#passwordEdit').val(user.password);
                user.roles.forEach(role => {
                    modal.find(`[value="${role.id}"]`).prop('checked', true);
                });

                modal.modal('show');
            })
            .catch(error => console.error("Ошибка загрузки пользователя:", error));
    }

    function openModal(userId) {
        getUserById(userId);
    }

    function addUser() {
        const modal = $('#addUserForm');
        const username = modal.find('#username').val();
        const lastName = modal.find('#lastName').val();
        const password = modal.find('#password').val();
        const roles = [];
        modal.find('#newRoles').val().map(roleId => parseInt(roleId));


        const userData = {
            username: username,
            lastName: lastName,
            password: password,
            roles: roles
        };

        fetch("/admin/adduser", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(userData)
        })
            .then(response => {
                if (response.ok) {
                    console.log("Пользователь успешно добавлен");
                    form[0].reset();
                } else {
                    throw new Error('Ошибка при добавлении пользователя');
                }
            })
            .catch(error => {
                console.error("Не удалось добавить пользователя:", error.message);
            });
    }

    function submitForm() {
        const modal = $('#EditModal');
        const userId = modal.find('#idEdit').val();
        const username = modal.find('#usernameEdit').val();
        const lastName = modal.find('#lastNameEdit').val();
        const password = modal.find('#passwordEdit').val();
        const roles = []
        modal.find('#EditRoles option:selected').each(function() {
            const roleId = $(this).data('role-id');
            const roleName = $(this).text();
            roles.push({id: roleId, name: roleName});
        });

        const userData = {
            id: userId,
            username: username,
            lastName: lastName,
            password: password,
            roles: roles
        };

        fetch("/admin/edit", {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(userData)
        })
            .then(response => response.json())
            .then(data => {
                console.log("Данные успешно отправлены на сервер:", data);
            })
            .catch(error => {
                console.error("Ошибка при отправке данных на сервер:", error);
            });
        modal.modal('hide');
    }
</script>
</body>
</html>