<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Все пользователи</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Roles</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.lastName}"></td>
            <td>
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </td>
            <td>
                <form th:action="@{/admin/delete}" method="post">
                    <input type="hidden" name="userName" th:value="${user.username}" />
                    <button type="submit">Удалить</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/edit}" method="get">
                    <input type="hidden" name="userName" th:value="${user.username}" />
                    <button type="submit">Изменить</button>
                </form>
            </td>
        </tr>
    </table>
    <br/>
    <a th:href="@{/logout}">Выход</a>
</div>
</body>
</html>